#footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 30px;
    background-color: lightskyblue;
    
}

.footer-text {
    font-family: "geosanslight";
    text-align: center;
}

/* unvisited link */
a:link {
    font-family: "geosanslight";
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: gray;
}

/* selected link */
a:active {
    color: lightgray;
}