#footer-container {

}

#button-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footer-text {
    text-align: center;
    font-size: small;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: gray;
}

/* selected link */
a:active {
    color: lightgray;
}