#search-results-container {
    margin: 20px;
}
#results-name {
    font-size: x-large;
}
#results-address {
    font-size: medium;
}
#results-information {
    font-size: medium;
}

#loading-text {
    text-align: center;
}