div:empty {
    display: none;
}
#search-results-container {
    max-width: 300px;
    word-wrap: break-word;
    background-color: #24252A;
    color: #edf0f1;

    padding: 12px 20px; 
    border: 1px solid #2f3037;
    border-radius: 5px;
    box-shadow: 0 4px 8px -4px black;
}
#results-name {
    font-size: x-large;
}
#results-address {
    font-size: medium;
}
#results-information {
    font-size: medium;
}

#loading-text {
    text-align: center;
    font-size: medium;
}

#no-data-text {
    text-align: center;
    font-size: medium;
}