div:empty {
    display: none;
}
#search-results-container {
    flex: 1;
    min-width: 300px;
    word-wrap: break-word;
    background-color: white;

    padding: 12px 20px; 
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px -4px black;
}
#results-name {
    font-weight: 700;
}
#results-address {
}
#results-information {
}

#loading-text {
    text-align: center;
    font-size: medium;
}

#no-data-text {
    text-align: center;
    font-size: medium;
}

.separator {
    margin: 10px;
}

.high-occupancy {
    color: #a51d1d;
}

.low-occupancy {
    color: #1da52d;
}