<div id="page-container">

    <app-header></app-header>

    <div id="text-block">
        Since the COVID-19 pandemic started, we have all struggled with the decision to go grocery shopping at the expense of increased exposure for ourselves and our families. STOROC is a widely impactful solution to address overcrowding at businesses with physical storefronts - including grocery stores. Our goal is to facilitate safe social distancing during activities that are considered "necessities of life" and help with planning for trips to public spaces. With STOROC, everyone will have access to real-time information about a store's current occupancy status, allowing for more informed decisions to be made about when and where to go for their desired activities.     
    </div>
</div>