#side-bar-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    z-index: 1;
    background-color: violet;
}

#header-container {
    display: flex;
    
    align-items: center;
    height: 100px;
}

.side-bar-element {
    flex-grow: 1;
}