#search-overlay-container {
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
}