#search {
    position: relative;
}

#pac-input {
    padding: 12px 20px; 
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 280px;
    box-shadow: 0 4px 8px -4px black;
    background-color: white;

    text-indent: 24px;
}

.icon {
    position: absolute;
    top: 11px;
    left: 14px;
    color: grey;
}