li, a, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2f3037;
}

.logo {
    cursor: pointer;
    color: #edf0f1;
    font-family: 'code_lightregular';
    font-size: 36px;
    padding: 20px;
}

.form-panel {
    display: flex;
    height: 420px;
    width: 340px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    margin: 10px;
    border: thin solid #2f3037;
    border-radius: 5px;
    background-color: #24252A;
    box-shadow: 0 4px 8px -4px black;
    color: #edf0f1;
}

.form-group {
    width: 280px;
    padding-bottom: 16px;
}

.input {
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-bottom: 1px solid #fff;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

button {
    margin: 20px;
    color: #edf0f1;
    padding: 9px 25px;
    background-color: rgba(44, 160, 152, 1);
    /* #2ca098 */
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.15s ease 0s;

    /* neumorphism effect */
    background: linear-gradient(145deg, #27282d, #202126);
    box-shadow: 3px 3px 6px #161619, -3px -3px 6px #32343b;
}

button:hover {
    background-color: rgba(44, 160, 152, 0.8);
}


.register-link {
    padding: 0px 30px;
    transition: all 0.15s ease 0s;
}

.register-link:visited {
    color: rgba(34, 150, 142, 1);
}

.register-link:hover {
    color: rgba(44, 160, 152, 1);
}
