li, a, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    border-bottom: thin solid #2f3037;
    background-color: #24252A;
    box-shadow: 0 4px 8px -8px black;
    z-index: 10;
}

.logo {
    cursor: pointer;
    color: #edf0f1;
    font-family: 'code_lightregular';
    font-size: 36px;
}

button {
    margin-left: 5px;
    padding: 9px 15px;
    background-color: rgba(44, 160, 152, 1);
    /* #2ca098 */
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.15s ease 0s;

    /* neumorphism effect */
    background: linear-gradient(145deg, #27282d, #202126);
    box-shadow: 3px 3px 6px #161619, -3px -3px 6px #32343b;
}

button:hover {
    background-color: rgba(44, 160, 152, 0.8);
}