<header>
    <a class="logo" routerLink="/home">
        STOROC
    </a>

    <div>
        <a *ngIf="!auth.isLoggedIn()" routerLink="/login">
            <button (click)="this.resetPage()">Sign In</button>
        </a>
    
        <a *ngIf="auth.isLoggedIn()" routerLink="/profile">
            <button (click)="this.resetPage()">{{ auth.getUserDetails()?.name }}</button>
        </a>
    
        <a *ngIf="auth.isLoggedIn()">
            <button (click)="this.resetPage(); auth.logout()">Logout</button>
        </a>
    </div>
</header>