<div class="main-container">

    <!-- INFORMATION PANEL -->
    <div class="information-panel">

        <!-- PANEL ELEMENTS -->
        <div class="panel-elements">

            <h1 class='storoc-text'>STOROC</h1>

            <app-search-box class='panel-element'></app-search-box>
            <hr>

            <app-search-results class='panel-element'></app-search-results>
        </div>

        <!-- FOOTER -->
        <app-footer class='footer'></app-footer>
    </div>

    <!-- MAP -->
    <div class="map-container">
        <app-map></app-map>
    </div>

</div>