.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.storoc-text {
    font-family: 'code_lightregular';
    font-size: 300%;
}
.results-place-name {
    font-size: x-large;
}
.loading-text {
    text-align: center;
}
